@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Portify</h1>
    @if(Model.IsLogged){
    <p>Logged as @Model.MeModel.DisplayName (@Model.MeModel.Id)</p>
    <button class="btn btn-success text-white" id="exportBtn" >Export</button>
    <button class="btn btn-info text-white" id="importBtn" >Import</button>
    }else{
        <a class="btn btn-info text-white" 
        asp-controller="Spotify" 
        asp-action="GetAuthorization" >Login</a>
    }
    <p>Export/Import your playlists from Spotify with json file.</p>
</div>


<div class="modal fade static" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Import file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" id="importForm"
                asp-controller="Spotify" 
                asp-action="PostImportAsync"
                asp-route-AccessToken="@Model.Token.AccessToken"
                asp-route-RefreshToken="@Model.Token.RefreshToken" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="importFile">Select file to import (ex. export.json)</label>
                        <input type="hidden" name="userId" id="userId" value="@Model.MeModel.Id">
                        <input type="file" class="form-control-file" name="importFile" id="importFile" accept=".json" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade static" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="waitModalLabel">Loading</h5>
                </button>
            </div>
            <div class="modal-body">
                <p>Please wait a few seconds...</p>
                <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(() => {
        const importBtn = $("#importBtn");
        const exportBtn = $("#exportBtn");
        const importForm = $("#importForm");
        //Modals
        const waitModal = $("#waitModal");
        const uploadModal = $("#uploadModal");

        const showWait = () => {
            $(waitModal).modal({ backdrop : 'static' });
        };

        const hideWait = () => {
            $(waitModal).modal('hide');
        };

        const downloadJson = (fileName, jsonText) => {
            const a = document.createElement('a');
            a.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(jsonText));
            a.setAttribute('download', fileName);
            if (document.createEvent) {
                const e = document.createEvent('MouseEvents');
                e.initEvent('click', true, true);
                a.dispatchEvent(e);
            } else {
                a.click();
            }
        };

        $(importBtn).click(() => {
            $(uploadModal).modal({ backdrop : 'static' });
        });

        $(exportBtn).click(() => {
            showWait();
            $.ajax({
                type: "GET",
                url: "/api/spotify/export?AccessToken=@Model.Token.AccessToken",
                success: (data) => {
                    downloadJson("@Model.MeModel.Id" + ".json", JSON.stringify(data, null, 4));
                    hideWait();
                }
            });
        });
        
        $(importForm).submit(() => {
            $(uploadModal).modal('hide');
            showWait();
        });
    });
</script>
}